@{
    ViewBag.Title = "Sobre o Jogo | Desenhei";
}

<hgroup class="title">
    <h3>@ViewBag.Title</h3>
    
</hgroup>


<article>
    <br>

    <h2>O JOGO</h2>

    <p  style="font-size: 20px;">
        <b>DESENHEI</b> é um jogo de adivinhação multiplayer online, jogado em rodadas. Em
        cada rodada um jogador é escolhido para ser o desenhista e recebe uma palavra
        aleatória. O objetivo deste jogador é, através de desenhos, fazer com que os
        demais participantes adivinhem qual palavra ele recebeu. E o objetivo dos
        demais jogadores é adivinhar, o mais rápido possível, qual é a palavra secreta.    
    </p>

    <br>
    
        <h2>FUNCIONAMENTO</h2>
    <p style="font-size: 20px;">
        Nosso jogo permite o registro de jogadores, onde o primeiro escolherá a quantidade mínima de participantes e a
        quantidade de rodadas para iniciar a partida. O chat, além de permitir a comunicação dos jogadores, possui ainda
        um controle das mensagens enviadas para melhorar a brincadeira. O quadro possui um sistema que apenas um jogador pode desenhar.
    </p>
    <br>
    
        <h2>PONTUAÇÃO E RANKING</h2>
    <p style="font-size: 20px;">
        Cada jogador que acertou ganha pontos, que vão diminuindo de acordo com a ordem dos acertos, ou seja, quem acertar
        primeiro ganha mais pontos e quem ficar por último recebe menos pontos. Quem estava desenhando também recebe pontos, que vão aumentando conforme
        aumenta o número de acertos. Ao término das rodadas é encerrada a partida e quem estiver em primeiro lugar ganha.
    </p>
</article>

